@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
/* root */
:root{
  scroll-behavior:smooth;

}

::-webkit-scrollbar {
  width: 12px;
  border-radius: 100px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, #f77878, #f9d38d, #f6f696, #93f7c5, #95e0f9, #c590fa, #d594f6)
  ;
  border-radius: 6px ;
  border: 1px solid #00000066;
  opacity: 50%;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #ffffffd1, #ffffff5c);
  border-radius: 6px;
  border: solid 0.7px ;
}

::-webkit-scrollbar-thumb:hover {
 background: #00000044;
 cursor: pointer;
}
/*_____root */




  /*________________________________________ animations _______ */
  
@keyframes wobble {
0% {
transform:translate(0);
    }
    20% {
        transform:translate(5px,-5px);
    }
    40% {
        transform:translate(5px,5px);
    }
    60% {
        transform:translate(-5px,5px);
    }
    80% {
        transform:translate(-5px,-5px);
    }
    100% {
        transform:translate(0);
    }}
    .wobble {
    animation: wobble 5s ease-in-out infinite ;
}
.wobble_with_delay{
    animation: wobble 6s ease-in-out infinite forwards;
    animation-delay: 0.5s;
}
@keyframes fade-in-bottom {
  0% {
    transform:translateY(-500px);
    animation-timing-function:ease-in;
    opacity:0;
  }
  35% {
    transform:translateY(0);
    animation-timing-function:ease-out;
    opacity:1;
  }
  55% {
    transform:translateY(-65px);
    animation-timing-function:ease-in;
  }
  70% {
    transform:translateY(0);
    animation-timing-function:ease-out;
  }
  80% {
    transform:translateY(-28px);
    animation-timing-function:ease-in;
  }
  95% {
    transform:translateY(-8px);
    animation-timing-function:ease-in;
  }
  100% {
    transform:translateY(0);
    animation-timing-function:ease-out;
  }

}

  .fade_in_animation{
    animation: fade-in-bottom 1s linear 0s 1 normal forwards;
  }
  @keyframes fade-out-bottom {
   from{
      transform:translateX(0);
      opacity:1;
    }}
    to {
      transform:translateX(100%);
      opacity:0;
    }
    .fade_out_animation{
      animation: fade-out-bottom  1s linear 0s 1 normal forwards;
    }

@keyframes text-focus-in {
			
  0% {
    filter:blur(12px);
    opacity:0;
  }
  100% {
    filter:blur(0);
    opacity:1;
  }}
.text_animation{
  animation: text-focus-in 0.5s linear 0s 1 normal backwards;
}
@keyframes moveZ {
  0% {
    transform:rotate(0deg);
    transform-origin:50% 0;
  }
  10% {
    transform:rotate(2deg);
  }
  20% {
    transform:rotate(-4deg);
  }
  30% {
    transform:rotate(4deg);
  }
  40% {
    transform:rotate(-4deg);
  }
  40% {
    transform:rotate(4deg);
  }
  60% {
    transform:rotate(-4deg);
  }
  70% {
    transform:rotate(4deg);
  }
  80% {
    transform:rotate(-2deg);
  }
  90% {
    transform:rotate(2deg);
  }
  100% {
    transform:rotate(0deg);
    transform-origin:50% 0;
  }


}
.moveZ{
  animation: moveZ 5s linear 0s infinite normal forwards;
}

@keyframes slidingForBanner {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100);
  }
  100% {
    transform: translateX(0);
  }
}
.slidingForBanner_animation{
  animation: slidingForBanner 3s linear 0s infinite normal forwards;
}


  /* ________animations _______ */








  /* Custom classes */
  .slide-out {
    transform: translateX(-500%);
    transition: transform 0.3s ease-in-out;
}
  .slide-in {
    transform: translateX(0%);
    transition: transform 0.3s ease-in-out;
}
  
  .Nav_menu{
    position: fixed ;
    display:flex;
    flex-direction: column;
      justify-content: end;
    width:100%;
    height: 100%;
    padding:5% 0 5% 0 ;
    bottom: 0;
      z-index:100;
      background: linear-gradient(90deg, rgba(168, 177, 235, 0) 0%, rgba(249, 127, 188, 0.097) 20%, rgba(249, 127, 188, 0.268) 50%);
}

.text_shadow{
    text-shadow: 1px 1px 1px #000000a7, 3px -3px 3px #ffffff54 ;
}
.images_shadow{
    filter: drop-shadow(-5px 5px 3px #2b2b2b)drop-shadow(0px -2px 7px #ffffff96);
}
.hover_animation:hover,
.hover_animation:active{
    animation: vibrate 0.5s linear 0s infinite normal forwards;
}



.button {
  padding: 15px 25px;
  border-radius: 14px;
  display: grid;
  place-items: center;
  font-size: 16px;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
  box-shadow: rgba(255, 255, 255, 0.1) -3px -3px 9px inset, rgba(255, 255, 255, 0.15) 0 3px 9px inset, rgba(255, 255, 255, 0.6) 0 1px 1px inset, rgba(0, 0, 0, 0.3) 0 -8px 36px inset, rgba(255, 255, 255, 0.6) 0 1px 5px inset, rgba(0, 0, 0, 0.2) 2px 19px 31px;

  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, .23) 0, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, .55) 0, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  transition: all 150ms ease-in-out;
}

.button:hover {
  filter: brightness(1.05);
}

.button:active {
  transform: scale(.95);
  background: #000;
  color:#f97fbc;
}


.maskForImages{
  mask-image: url('../src/assets/images/Root/images_mask.png');
  mask-size:contain;
  mask-position: top;
  mask-repeat: no-repeat;
  color: #00000077;
}
.neo_shadow{
  box-shadow: -3px 3px 3px #000000b7,
              1px -1px 3px #ffffff,
        inset -3px 3px 3px #ffffffb7,
        inset 3px -3px 3px #000000a7 ;
}
.grid_style_cards{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(208px,1fr));
  grid-template-rows: repeat(auto-fit,minmax(208px,1fr));
  row-gap: 20px;
  column-gap: 20px;

}
@media (width< 1024px) {
  .grid_style_cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(144px,1fr));
    grid-template-rows: repeat(auto-fit,minmax(144px,1fr));
    row-gap: 20px;
    column-gap: 20px;
  
  }
  }

  .hide-scrollbar {
    ::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
    -moz-scrollbar-width: none;
  }

  .colorfull_text{
    background-image: radial-gradient(circle,blue 0%, violet 25%,rgb(246, 255, 0) 25%, rgb(144, 85, 85) 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    box-shadow: 0 0 30px #fff;
  }
}
@media (width>765px){
  .colorfull_text{
    background-image: radial-gradient(circle, rgb(0, 89, 130) 5%,rgb(255, 242, 0) 10%, red 12%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }
}